.flex-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

#result {
    margin-top: 10px;
}

main .info-data {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}

.table-wrapper {
    max-height: 400px;
    /* Batasi tinggi tabel */
    overflow-y: auto;
    /* Aktifkan scroll vertikal */
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
}

#resultTable {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#resultTable th,
#resultTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: top;
}

#resultTable th {
    background-color: var(--blue);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

#resultTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#resultTable tr:hover {
    background-color: #f1f1f1;
}

#resultTable td:first-child,
#resultTable th:first-child {
    text-align: center;
    width: 50px;
}