<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/traffic-light.svg') }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/data.css">
    <link rel="stylesheet" href="../static/css/analisis.css">
    <title>Dashboard Penelitian</title>
</head>

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <div class="logo">
            <a href="{{ url_for('index') }}" class="brand">
                <img src="{{ url_for('static', filename='img/traffic-light.svg') }}" alt="Logo">
                JagaLantas
            </a>
        </div>
        <ul class="side-menu">
            <li><a href="{{ url_for('index') }}"><i class='bx  bxs-user-circle icon'></i> About</a></li>
            <li><a href="{{ url_for('scraping_page') }}"><i class='bx  bxs-news icon'></i> Scraping</a></li>
            <li><a href="{{ url_for('data_page') }}"><i class='bx  bxs-database icon'></i> Data</a></li>
            <li><a href="{{ url_for('dashboard_page') }}"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li><a href="{{ url_for('classification_page') }}" class="active"><i class='bx  bxs-network-chart icon'></i>
                    Pola</a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <h1 class="title">Pola</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li class="divider">/</li>
                <li><a href="{{ url_for('classification_page') }}" class="active">Pola</a></li>
            </ul>

            <div class="info-data">
                <div class="card">
                    <div class="head-scrap">
                        <div class="head-download">
                            <div>
                                <h2 style="font-size: 25px;">Tabel <i>Dataset</i> Klasifikasi Laka Lantas Hasil
                                    Ekstraksi Berita <i>Online</i></h2>
                            </div>
                            <button href="{{ url_for('download_classification_table') }}"
                                id="btn-download-classification" class="btn-download-classification">Unduh</button>
                        </div>
                        <div class="table-wrapper">
                            <table id="ClassificationTable">
                                <thead>
                                    <tr>
                                        <th>No</th> <!-- Kolom nomor -->
                                        <th>Hari</th>
                                        <th>Waktu</th>
                                        <th>Kendaraan</th>
                                        <th>Jalan</th>
                                        <th>Penyebab</th>
                                        <th>Usia Pengemudi</th>
                                        <th>Fatalitas</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="head-scrap">
                        <div>
                            <h2>Pohon Keputusan Pola Kecelakaan Lalu Lintas 2020-2024</h2>
                        </div>
                        <div class="tree-image">
                            <img src="../static/img/tree_visualization.png" alt="Decision Tree">
                            <p>Catatan:</p>
                            <ul class="tree-notes">
                                <li><i>Support</i> menunjukkan jumlah sampel pada suatu simpul.</li>
                                <li>Persentase kelas menunjukkan proporsi data tiap kelas dalam simpul yang digunakan
                                    untuk prediksi.</li>
                                <li>Cara membaca gambar dimulai dari simpul paling kiri (akar) dan mengikuti cabang
                                    hingga mencapai simpul akhir (daun). Simpul akhir berwarna oranye menunjukkan ada
                                    korban jiwa, sedangkan biru menunjukkan tidak ada korban jiwa. Angka 1 pada cabang
                                    berarti "ya" dan angka 0 berarti "tidak".</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- NAVBAR -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/data.js"></script>
    <script src="../static/js/analisis.js"></script>
</body>

</html>