<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/traffic-light.svg') }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/data.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <title>Dashboard Penelitian</title>
</head>

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <div class="logo">
            <a href="{{ url_for('index') }}" class="brand">
                <img src="{{ url_for('static', filename='img/traffic-light.svg') }}" alt="Logo">
                JagaLantas
            </a>
        </div>
        <ul class="side-menu">
            <li><a href="{{ url_for('index') }}"><i class='bx  bxs-user-circle icon'></i> About</a></li>
            <li><a href="{{ url_for('scraping_page') }}"><i class='bx  bxs-news icon'></i> Scraping</a></li>
            <li><a href="{{ url_for('data_page') }}" class="active"><i class='bx  bxs-database icon'></i> Data</a></li>
            <li><a href="{{ url_for('dashboard_page') }}"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li><a href="{{ url_for('classification_page') }}"><i class='bx  bxs-network-chart icon'></i> Pola</a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <h1 class="title">Data</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li class="divider">/</li>
                <li><a href="{{ url_for('data_page') }}" class="active">Data</a></li>
            </ul>

            <div class="info-data">
                <div class="card">
                    <div class="head-scrap">
                        <div>
                            <h2>Tabel Berita <i>Online</i></h2>
                        </div>
                        <div class="table-wrapper-datatable">
                            <table id="NewsTable">
                                <thead>
                                    <tr>
                                        <th>No</th> <!-- Kolom nomor -->
                                        <th>ID Berita</th>
                                        <th>Tanggal</th>
                                        <th>Link</th>
                                        <th>Judul</th>
                                        <th>Konten</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="head-scrap">
                        <div>
                            <h2>Tabel Hasil Ekstraksi Berita <i>Online</i></h2>
                        </div>
                        <div class="table-wrapper-datatable">
                            <table id="ExtractionTable">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>ID Berita</th>
                                        <th>Lokasi</th>
                                        <th>Hari</th>
                                        <th>Tanggal</th>
                                        <th>Waktu</th>
                                        <th>Kendaraan</th>
                                        <th>Merk</th>
                                        <th>Jalan</th>
                                        <th>Penyebab</th>
                                        <th>Organisasi</th>
                                        <th>Umur Pengemudi</th>
                                        <th>Umur Korban</th>
                                        <th>Jumlah Korban Luka</th>
                                        <th>Jumlah Korban Jiwa</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- NAVBAR -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/data.js"></script>
</body>

</html>